In [ ]:
print("First ENV")

l1 = ["Lalitpur","Kathmandu",23]

print(l1[-1])
l1.append("Dang")

print(l1)

# LCM 
# 
# *****

First ENV
23
['Lalitpur', 'Kathmandu', 23, 'Dang']

In [ ]:
li1 = [2,3,4,5]
li2 = [20,30,40,50]

print(li1 + li2)
print(li1 * 3)
result_list = [li1,li2,20,40]
print(result_list)

[2, 3, 4, 5, 20, 30, 40, 50]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
[[2, 3, 4, 5], [20, 30, 40, 50], 20, 40]

In [ ]:
l1 = [[2,3,4],[20,30,40]]
print(l1[0][1])

# Matrix addition 
# Matrix Multiplication

3

### List 

**List is a Class**

**List is an iterable sequence**

**List Mutable**

**List Growable**

**List can store heterogeneous data**

**List Element are indexed**

In [ ]:
l1 = [10,20,30]
l1.insert(1,300)
print(type(l1))


# Data 
# Data Type in the context of Python ?


num1  = 200
print(type(num1))

<class 'list'>
<class 'int'>

In [14]:
# Built in Methonds
li1 = [22,30,10,12,43,50,100,200]

print(len(li1))
print(min(li1))
print(max(li1))
print(sorted(li1,reverse=True))
print(sum(li1))

8
10
200
[200, 100, 50, 43, 30, 22, 12, 10]
467

In [ ]:
# print(range(5,2,3))

for i in range(5,20,3):
    print(i) 
# Read about this

5
8
11
14
17

In [13]:
# We can pass Iterable sequence inside list function


for i in "Suman":
    print(i)


# l = list(20)
# Error
li2 = list("suman")
print(li2)
li3 = list(range(1,32,10))
print(li3)

S
u
m
a
n
['s', 'u', 'm', 'a', 'n']
[1, 11, 21, 31]

In [ ]:
# Write a program to sort a given list/array

# pop
# clear
# count
# index

In [ ]:
# Tuple

t1 = (2,3,5,6,7,8)
print(type(t1))
t2 = (10,)
print(type(t2))


# Tuple is immutable

<class 'tuple'>
<class 'tuple'>
(5, 6, 7)

In [4]:
mul_tup = ((23,34),(23,45))
mul_tup[0][0]

23

In [6]:
# List comprehension

# [expreesion for vaiable in iterable]
# List

lc = [e**2 for e in range(5)]

print(lc)

[0, 1, 4, 9, 16]

In [ ]:
# [6,6,6,6,6,6,6]
# create a list of first n odd natural number





[1,2,3,4,5]